<div ng-controller="userListCtrl">
    <h1>UserList</h1>
    <form class="form-inline">
        <div class="form-group">
            <label for="mySelect">Search By:</label>
            <select name="mySelect" id="mySelect" ng-model="searchBy" ng-change="changeSearchBy()">
                <option value="">--SearchBy--</option>
                <option ng-repeat="option in optionList" value={{option.key}}>{{option.value}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only" for="Search">Search</label>
            <input class="form-control" type="text" id="Search" ng-model='search' ng-disabled="!searchBy" />
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th ng-class="{active: searchBy === 'firstName'}"> First Name </th>
                <th ng-class="{active: searchBy === 'lastName'}"> Last Name </th>
                <th ng-class="{active: searchBy === 'userName'}"> User Name </th>
                <th> Password </th>
            </tr>
        </thead>
        <tbody>{{data|json}}
            <tr ng-repeat="user in data | filter: {searchBy: search} | limitTo : recordsPerPage ">
                <td ng-class="{active: searchBy==='firstName' } ">{{user.firstName}}</td>
                <td ng-class="{active: searchBy==='lastName' } ">{{user.lastName}}</td>
                <td ng-class="{active: searchBy==='userName' } "><a href="#profile/{{user.userName}}">{{user.userName}}</a></td>
                <td>{{user.password}}</td>
            </tr>
        </tbody>
        {{data.length}}
    </table>
    <div>
        <div class="pull-left">
            <button type="button" class="btn btn-default" ng-click="onPreviousClick()" ng-disabled=" (currentPage == 1)">Prev</button>
            <div>
                <button ng-repeat="page in paginationItems" ng-click="goToPage(page)" ng-class="{active: currentPage===page}" ng-disabled="expression">{{page}}</button>
            </div>
            <button type="button" class="btn btn-default" ng-click="onNextClick()" ng-disabled="(currentPage== totalPages)">Next</button>
        </div>
        <div class="pull-right">
            Page: {{currentPage}}/{{totalPages}}
        </div>
    </div>
</div>
