<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="ng-hide">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
                </a>
            </li>
            <li>
                <a href="#/login">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Login
                </a>
            </li>
            <li>
                <a href="#/register">
                    <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span> Register
                </a>
            </li>
            <li class="ng-hide">
                <a href="#/logout">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut
                </a>
            </li>
        </ul>
    </li>
</ul>
